
.robotcard--container{
    display: flex;
    flex-direction: column;
    max-width: 324px;
}
.robotcard--number{
    color: #F57438;
    font-size: 32px;
}
.robotcard--title{
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 8px;
}
.robotcard--p{
    color: #FFFFFFB2;
    margin-top: 16px
}

@media only screen and (max-width: 375px) {
    .robotcard--number{
        font-size: 20px;
    }
    .robotcard--title{
        font-size: 24px;
    }
    .robotcard--p{
        font-size: 14px;
    }
    .robotcard--container{
        margin-bottom: 40px;
    }
}
